@import url("https://fonts.googleapis.com/css2?family=Eudoxus+Sans:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-mobile: 23.4375rem; /* 375px */
  --breakpoint-1xl: 90rem; /* 1440px (your new one) */
  --breakpoint-4xl: 100rem; /* 1600px */
}

.vertix {
  background-image: url("/images/vertix.png");
  /* background: #19212a; */
  /* background: linear-gradient(135deg, #19212a, #000000); */
}
.decoration {
  background-image: url("/images/decoration.png");
}

.designx {
  background-image: url("/images/designX.png");
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
}

.ecoSystem {
  background-image: url("/wavy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.perksBg {
  background-image: url("/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.zigzag {
  background-image: url("/images/zigzag.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: top bottom; */
  object-fit: fill;
}

body {
  font-family: "Eudoxus Sans", sans-serif;
  font-weight: 400;
}

.swiper {
  width: 100%;
  height: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: inline-flex;
  animation: marquee 10s linear infinite;
}

/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=19212a&c2=000000&gt=l&gd=dtl
*/
/* .bg {
  background: #19212a;
  background: linear-gradient(135deg, #19212a, #000000);
} */
